{% extends 'authentication/layout.html' %}
{% load static from staticfiles %}
{% block style %}
    body{
    background-image: url("{% static 'select_bg.jpg' %}");
    background-size: 100% ;
    }
    .button-passeord-reset{
    background-color: #4CAF50;border: none;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    width: 100px;

    }


    .div-password-reset {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 100px auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

{% endblock %}
{% block content %}
    <div class="div-password-reset">
        <h2>Forgot password</h2>
        <form method="post" class="form-password-reset">
            {% csrf_token %}
            {{ form }}
            <button type="submit"  class="button-passeord-reset" >Submit</button>
        </form>
    </div>
{% endblock %}