{% extends 'authentication/layout.html' %}
{% load static from staticfiles %}
{% block headblock %}
    <meta charset="UTF-8">
    <title>Predict Reviews in batch</title>
    <style>
     body{
            background-image: url("{% static '2.jpg' %}");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100%;
        }

        .box{
            max-width: 1000px;
            position: relative;
            margin: auto;
            width:850px;
            height:560px;
            box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3);
            background-color:  rgba(255, 255, 255, 0.7);
            border-radius: 10px;
        }
        .button3,input[type="file"]{
            background-color: black;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 4px;
            transition: 0.5s;
        }
        .button3:hover{
            background-color: #5B7BD5;

        }
        input[type="file"]:hover{
            background-color:#5B7BD5 ;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="box">
<form action="{% url 'batch_predict' %}" enctype="multipart/form-data"  method="post">
    {% csrf_token %}
    <center><br>
        <label for="select">Select the type:</label>
    <select name = 'type'>
	  <option value="movie">movie</option>
	  <option value="restaurant">restaurant</option>
	</select>
        <br><br>
        <label for="fileupload"> Select a file to upload</label>
    <input type="file" name="fileupload" value="fileupload" id="fileupload">
     <br><br>
        <h5>Please upload '.txt'/'.csv' files</h5>
        <h5>It costs 200 credits</h5>

    <input type="submit" value="submit" class="button3">
    </center>
</form>
        <br>
<center> {{ result|linebreaks }} </center>
    </div>

{% endblock %}